.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
    justify-content: center;
}

:host ::ng-deep {
    .p-inputtext {
        width: 300px;
    }
    .p-card {
        width: 400px;
        margin: auto;
        .p-card-footer{
            text-align: center;
        }
    }
}