<p-card>
    <div class="container">
        <span class="p-float-label">
            <input id="float-input" type="text" [(ngModel)]="user" pInputText> 
            <label for="float-input">Usuario</label>
        </span>
        
        <span class="p-float-label">
            <p-password [toggleMask]="true" [feedback]="false" [(ngModel)]="psw"></p-password>
            <label for="float-input">Contraseña</label>
        </span>
    </div>
    <ng-template pTemplate="footer">
        <p class="alert"><span *ngIf="showAlert">Usuario y/o contraseña incorrectos</span></p>
        <button pButton type="button" label="Iniciar sesión" (click)="login()"></button>
    </ng-template>
</p-card>


